*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    font-family: 'Roboto', 'Raleway' sans-serif;
    margin: auto;
         
}


.container {
    max-width: 1200px;
    justify-content: center;
   
}
header {
    border-bottom: 1px solid #ECECEC;
}

.head {
    display: flex;
    color: #212121;
    font-size: 16px;
    line-height: 1.14;
    text-decoration: none;
    height: 80px;
        
}

.head li {
    padding-inline: 10px;
}
.head-left {
    display: flex;
    justify-content: space-between;
    padding-right: 364px;
}

.logo-top a {
    color: #000000;
    font-weight: 700;
    font-family:'Raleway';
    padding-top: 24px;
    padding-bottom: 25px;
    text-decoration: none;
    margin: 0;
}

.logo-top span {
    color: #2196F3;
}
.nav-list {
    display: flex;
    margin: unset;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav-list a {
    margin: unset;
    justify-content: space-between;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    
}
.agency {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    margin: 0; 
}
.agency:hover {
    color: #2196F3;
}
.portfolio {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    margin: 0; 
}
.portfolio:hover {
    color: #2196F3;
}
.contact {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    margin: 0; 
}
.contact:hover {
    color: #2196F3;
}

.underline {
    position: absolute;
    background-color: #2196F3;
    border-radius: 2px;
    width: 53px;
    height: 4px;
    margin-top: 28px;
}

.link-mail-head {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-phone-head {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-right {
    display: flex;
    justify-content: space-between;
    margin: unset;
    padding-right: 30px;
}



.head-right-list {
    display: flex;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head-right-list a{
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    
}
.head-right-list svg {
    fill: #757575;
    
}

.head-right-list :hover {
    color: #2196F3;
    fill: #2196F3;
    
}
.head-right-list :hover svg {
    fill: var(--hover-color);
    

} 
.head-right-list :hover a {
    color: var(--hover-color);
    
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
    text-decoration: none;
    line-height: 1.5;
     
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
        
}

button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: inline;
    color:#212121;
    background-color: #F5F4FA;
    cursor: pointer;
    justify-content: space-between;
    border: 3px;
    padding: 6px 22px;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button {
    padding-inline: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-head {
    padding-bottom: 34px;
    padding-left: 215px;
    padding-right: 215px;
    max-width: fit-content;
    text-align: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-list {
    display: flex;
    flex-wrap:wrap;
    list-style:inside;
    padding: unset;
    margin: unset;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.item {
    flex-basis: calc(100%  / 3);
    border: #757575;
    max-width: fit-content;
    margin: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-text {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.item h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    padding: 20px 24px 4px;
    color: #212121;
}
.item p {
    padding: 4px 24px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}

.box {
    position: relative;
    overflow: hidden;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(+494px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.overlay p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF; 
    padding-top: 49px;
    padding-left: 24px;
}
.image-list :hover .overlay {
    transform: translateY(0);
    

  }
img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer {
    background: #2F303A;
    font-size: 16px;
    line-height: 1.14;
    text-decoration: none;
    color: #FFFFFF; 
        
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
    
}

.footer-block {
    display: flex;
}

.footer-left{
    margin: unset;
}
.footer-right {
    margin: unset;
    padding-left: 70px;
    padding-top: 12px;
}

.footer-right h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}

.logo-bottom {
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-family:'Raleway';       
}

.logo-bottom span {
    color: #2196F3;

}

.address-list {
    padding: 0;
    max-width: fit-content;
}
.address {
    font-style: normal;
    padding-top: 20px;
}

.link-footer1 {
    color: #757575;
    font-size: 14px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.link-footer1:hover {
    color: #2196F3 ;
    
}
.link-footer2 {
    color: #757575;
    font-size: 14px;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer2:hover {
    color: #2196F3 ;
    
}

.bottom-icons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0px; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);   

}

.bottom-icons :hover{
    background: var(--hover-color);
    cursor: pointer;
    
}
.bottom-icons :hover {
    background: #2196F3;
    
}


.icon-bottom-item {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    background-attachment: fixed;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.item-icon {
    fill: #FFFFFF;
    margin: 12px;    
}

.footer-newsletter h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer-newsletter {
    margin: unset;
    padding-left: 70px;
    padding-top: 12px;
    height: 86px;
    display: block;
}

.newsletter-form {
    display: flex;
}

.footer-newsletter input {
    font-family: inherit;
    height: 50px;
    width: 358px;
    border-radius: 4px;
    background-color: #2F303A;
    margin-top: 20px;
    border: 1px solid #FFFFFF4D; 
    color: #FFFFFF;
    outline: none;
}

.label-button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    fill: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-top: 37px;
    margin-left: 12px;
    
}
.label-button svg {
    margin: unset;
    margin-left: 24px;
}

li {
    display: inline;
    
}
 